# Placer les variables  qui change selon l'environnement 
PORT_WEB=8001
#pour generer MYAPPSECRET cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 32 | head -n 1
MYAPPSECRET=changeme

DATABASE_URL='http://localhost:8001'
#BASE_URL=
APP_ENV=dev
#TRUSTED_PROXIES=172.24.42.1
SENTRY_DSN=
#SENTRY_DSN=changeme
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=changeme
MYSQL_USER=changeme
MYSQL_PASSWORD=password
MYSQL_HOST=mysql
MYSQL_PORT=3306