<footer>
    <div class="copyright">
        <span class="version">
            {{'version'|trans}} {{app_version}}
        </span>
         &nbsp;<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:postparc@probesys.com"> Support Technique</a>
        <i class="fa-solid fa-copyright" aria-hidden="true"></i> 2010-{{ "now"|date("Y") }}
       
        <a href="http://www.probesys.com" class="probesys" target="_blank">PROBESYS - spécialiste opensource Grenoble</a>
        <!-- <a href="#top" class="top-link" title="retour haut de page"><i class="fa-solid fa-chevron-up"></i></a> -->
        <div class="btn-group btn-group-sm nav-links" role="group">
            <a href="#down" class="btn btn-default" title="bas de page"><i class="fa-solid fa-chevron-down"></i></a>
            <a href="#top" class="btn btn-default" title="haut de page"><i class="fa-solid fa-chevron-up"></i></a>
        </div>
    </div>
</footer>
<span name="down"></span>
