<div class="row" id="whatsNewMessage">

    <div class="col-xs-12">
        <div class="bs-callout bs-callout-info">
            <h3><i class="fa-solid fa-bell" aria-hidden="true"></i>&nbsp;{{'Homepage.whatsNew'|trans()}}</h3>
            <p class="mt-15">

            <h4><i class="fa-solid fa-glass-cheers"></i> Plein de nouveautés !! <a class="btn btn-primary" role="button" data-toggle="collapse" href="#news" aria-expanded="false" aria-controls="news">
                    En savoir plus
                </a></h4>
            <div class="collapse" id="news">
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            Nous tenons à remercier la communauté du grand Chambéry ainsi que la ville de Chambéry pour le financement de nombreuses améliorations dans postparc :
                            <ul>
                                <li>Création d'un nouveau profil Lecture +. Ce profil a la possibilité de créer/copier certains contenus dans l'application</li>
                                <li>Nombreuses améliorations dans le module évenements 
                                    (notion de representation, stats d'envoi d'alerte mail détaillés, filtres , paramétrages d'envoi améliorés, export des participants, affichages du nombres de personnes ayant confirmé, infirmé leurs présences)</li>
                                <li>Ajout de nouveaux pramètres globaux et utilisateurs ( masquages de certains blocs, choix de l'ordre des onglets, plice et taille de caractère de l'éditeur riche )</li>
                                <li>Affichage des informations des contacts sans emails dans d'autres écrans que le module de mail massif</li>
                                <li>Ajout d'informations relatives à un/une assitant(e) dans les coordonnées professionelles</li>
                                <li>Ajouts d'informations sur la plupart des écrans afin de gagner en rapidité d'utilisation</li>
                                <li>Possibilité de stocker / réutiliser les documents précédement utilisés dans le module de génération massive de document</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


