<div class="pull-right hidden-sm hidden-xs">
   <div class="form-group">
      <label>{{'resultsPerPage'|trans}}</label>
      {% set values = [10, 25, 50, 100, 200, 500,1000,3000] %}
      <select class="form-control input-sm" name="per_page" id="resultsPerPage">
         {% if (app.user.configs.default_items_per_page is defined) %}
            {% set per_page_global = app.user.configs.default_items_per_page %}
            {% if not(per_page_global in values) %}
               {% set values = values|merge([per_page_global]) %}
            {% endif %}
         {% endif %}
         {% set per_page = app.request.get('per_page') ? app.request.get('per_page') : per_page_global %}
         {% for value in values|sort %}
            <option value="value" {% if value == per_page %} selected="seleted" {% endif %} >{{value}}</option>
         {% endfor %}
      </select>
   </div>
</div>
