<li role="presentation"><a href="#notes{{ object.getClassName() }}-{{ object.id }}"  role="tab" data-toggle="tab"><i class="fa-solid fa-comments" aria-hidden="true"></i> {{ 'genericFields.notes'|trans() }} <span class="label label-pill label-info">{{ notes|length }}</span></a></li>
