<div class="tab-pane  {% if activeTab == 'map'  %}active{%endif %}" id="mapOrganization" >
    <h3>{{'map'|trans}}</h3>
    <div id="mapid" style="height: 500px; width: 100%;" class="img-thumbnail"></div>
</div>

