<li role="presentation"><a href="#events{{ object.getClassName() }}-{{ object.id }}"  role="tab" data-toggle="tab"><i class="fa-solid fa-calendar-week" aria-hidden="true"></i> {{ 'nav.eventsItem'|trans() }} <span class="label label-pill label-info">{{ eventsInfos|length }}</span></a></li>
